<div> 
    <a href="https://github.com/Flash069"> <img src="../../../assets/Imagenes Logos/GITHUB FONDO NEGRO.png" id="LogoGitHub">
    </a>
    <a href="discordapp.com/users/RubbiaFlash69#9903"> <img src="../../../assets/Imagenes Logos/Discord.png"id="LogoDiscord">
    </a>
    <a href="https://www.linkedin.com/in/euge-flash-528970246/"> <img src="../../../assets/Imagenes Logos/LINKEDIN FONDO BLANCO.png"id="LogoLinkedin">
    </a>
    <a href="https://www.instagram.com/eugeinsta/"> <img src="../../../assets/Imagenes Logos/LOGO INSTAGRAM COLOR.png" id="LogoInsta">
    </a>
</div>